# Backend
NODE_ENV=development
PORT=3000
DATABASE_URL=your postgres connection string here (e.g. postgresql://user:password@host:port/database)

# Frontend
NEXT_PUBLIC_APP_NAME="NextJs 16 Boilerplate"
NEXT_PUBLIC_APP_DESCRIPTION="Next.js 16 Boilerplate"
NEXT_PUBLIC_APP_URL=http://192.168.1.157:3000

# Generate a secret with terminal, open and type -> openssl rand -base64 32
BETTER_AUTH_SECRET=your better auth secret here

# Better Auth + Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Public env used by Google One Tap client plugin
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id
